<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="multi">

	<resultMap type="com.multi.vo.MDBoardVo" id="mdmap">
		<result property="seq" column="SEQ"/>
		<result property="writer" column="WRITER"/>
		<result property="title" column="TITLE"/>
		<result property="content" column="CONTENT"/>
		<result property="regdate" column="REGDATE"/>
	</resultMap>
	
	<!--?: resultMap="mdmap" -->
	<select id="selectAll" resultType="MDBoardVo">
		SELECT SEQ, WRITER, TITLE, CONTENT, REGDATE 
		FROM MDBOARD
		ORDER BY SEQ DESC
	</select>
	
	<select id="selectOne" parameterType="_int"  resultType="MDBoardVo">
		SELECT * FROM MDBOARD WHERE SEQ = #{seq}
	</select>
	
	<insert id="insert" parameterType="MDBoardVo">
		INSERT INTO MDBOARD VALUES(MDBOARDSEQ.NEXTVAL, #{writer}, #{title}, #{content}, SYSDATE)
	</insert>
	
	<update id="update" parameterType="MDBoardVo">
		UPDATE MDBOARD SET TITLE = #{title}, CONTENT = #{content} WHERE SEQ = #{seq}
	</update>
	
	<delete id="delete" parameterType="_int">
		DELETE FROM MDBOARD WHERE SEQ = #{seq}
	</delete>
	
	<delete id="muldel" parameterType="map">
		DELETE FROM MDBOARD 
		WHERE SEQ IN
		<foreach collection="seq" item="seqseq" open="(" separator="," close=")">
			#{seqseq}
		</foreach>
	</delete>
	
<!-- 

		<foreach	collection="seq"		: 키 값
					item="seqseq" 			: #{}안에 쓸 이름
					open="(" 				: 시작할때 
					separator="," 			: 값을 쓰고 난 다음
					close=")">				: 끝낼때
			#{seq}
		</foreach>

 -->

</mapper>

